{% comment %}
    Renders a line item property text input

    Accepts:
    - line_item_name: {String} Name used to persist the line item
    - section_id: {string} The section id of the current section

    Usage:
    {% render 'line-item-property-text', line_item_name: "Name", section_id: {{section.id}} %}
{% endcomment %}
<div class="product-form__buttons line-item-property__field">
  <label class="form__label">{{ line_item_name }}</label>
  <input required class="required" style="width:100%; border: 1px solid; padding: 1.5rem;" type="text" name="properties[{{ line_item_name }}]" form="product-form-{{ section_id }}">
</div>